@media (max-width: 700px) {
    main > .first-section{
        flex-direction: column;
        gap: clamp(2rem, 5vw, 4rem);
    }

    main > .first-section > .right img{
    width: 90%;
    height: auto;
}

}